Django==1.6.2
Pillow==2.3.0
MySQL-python==1.2.5
PyRSS2Gen==1.0.0
Twisted==12.2.0
altgraph==0.10.1
bdist-mpkg==0.4.4
dj-database-url==0.2.2
django-social-auth==0.7.28
django-nose==1.2
gdata==2.0.18
httplib2==0.8
ipython==1.1.0
macholib==1.5
modulegraph==0.10.1
mysql-connector-python==1.1.5
oauth2==1.5.211
psycopg2==2.5.2
pyOpenSSL==0.13
python-dateutil==1.5
python-openid==2.2.5
pytz==2012d
requests==2.0.1
six==1.4.1
update-checker==0.6
virtualenv==1.11.2
wsgiref==0.1.2
xattr==0.6.4
zope.interface==3.8.0
