/* Original Source: http://meyerweb.com/eric/tools/css/reset/ *//*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;
font-size: 100%;
vertical-align: baseline;background: transparent;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes:none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse;border-spacing: 0;}*/
li:not(.head) {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
article {line-height: 1;}
ol, ul : not (.global-nav){list-style: none;}
blockquote, q {quotes:none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse;border-spacing: 0;}
article {background:#fff;font-size:75%;font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:300;color:#333;margin:0px auto;text-align:center;line-height:1.7em;}

input[type=text] : not(#search_name), input[type=password], input[type=email], input[type=tel], select, textarea {border:1px solid #ececec;font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:300;color:#333;font-size:1em;padding:2px 4px;}
input[type=text] : not(#search_name), input[type=password], input[type=email], input[type=tel] {padding:4px;}
select {padding-right:2px;}
/*button {background:#ececec;border:1px solid #ececec;-webkit-box-shadow: inset 0px 1px 0px 0px #f5f5f5;-moz-box-shadow: inset 0px 1px 0px 0px #f5f5f5;
box-shadow: inset 0px 1px 0px 0px #f5f5f5;color:#b29f90;line-height:1.7em;padding:0px 10px;font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:bold;font-size:1em;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;cursor:pointer;}*/
button:hover {color:#ff5454}
button.wishlistcontinue, button.fitlistcontinue, button#uploadprofileimg{background:#6B8630;border-color:#6B8630;color:#fff;-webkit-box-shadow: inset 0px 1px 0px 0px #ffa9a9;-moz-box-shadow: inset 0px 1px 0px 0px #ffa9a9;
box-shadow: inset 0px 1px 0px 0px #8CAD44;font-size:1.167em;padding:5px 10px;-webkit-transition:background .4s ease;-moz-transition:background .4s ease;-o-transition:background .4s ease;transition:background .4s ease;}
button.wishlistcontinue:hover, button.fitlistcontinue:hover, button#uploadprofileimg:hover {background:#333;border-color:#333;color:#fff;-webkit-box-shadow: inset 0px 1px 0px 0px #999;-moz-box-shadow: inset 0px 1px 0px 0px #999;
box-shadow: inset 0px 1px 0px 0px #999;}

a:link, a:visited {color:#b29f90;}
a:hover {text-decoration:none;color:#ff5454;}
a img {border:none;}
strong {font-weight:bold;}

.left {float:left;}
.right {float:right;}
.center {text-align:center;}
.wrapper {display:block;text-align:left;width:960px;margin:0px auto;}

		nav ul ul {z-index:20;display:none;position:absolute;top:96px;left:0px;width:160px;z-index:99999 !important;}
			nav ul ul li {min-width:140px;}
			nav ul ul ul {left:100%;top:0;}
			nav ul ul a:link, nav ul ul a:visited {background:#fff;background: rgba(255, 255, 255, 0.9);font-size:1em;border-bottom:1px solid #ececec;width:160px;height:auto;padding:5px 18px;-webkit-transition:background .5s ease;-moz-transition:background .5s ease;-o-transition:background .5s ease;transition:background .5s ease;}
			nav ul ul li:hover > a, nav ul ul :hover > a {background:#fff;}
			nav ul li:hover > ul {display:block !important;}
		
#top {position:absolute;top:0px;left:0px;height:24px;padding:5px 0px;width:100%;z-index:2;background:#b29f90;-webkit-animation: delay 0.5s;-moz-animation: delay 0.5s;}
	#top .wrapper {position:relative;}
	#top form {position:absolute;top:-1px;left:347px;}
	#top input {float:left;width:200px;}
	#top button {float:left;-webkit-border-top-left-radius:0px;-webkit-border-bottom-left-radius:0px;-moz-border-radius-topleft:0px;-moz-border-radius-bottomleft:0px;border-top-left-radius:0px;border-bottom-left-radius:0px;width:36px;height:25px;overflow:hidden;text-indent:-999em;background:#ececec url(../images/sprite.png) no-repeat 10px -85px;}
		#top button:hover {background-position:-80px -85px;}
#social li {float:left;padding-right:10px;}
	#social a:link, #social a:visited {display:inline-block;width:24px;height:24px;background:transparent url(../images/sprite.png) no-repeat 0px 0px;overflow:hidden;text-indent:-999em;}
		#social a:hover {background-position:0px -30px;}
	#social a.twitter:link, #social a.twitter:visited {background-position:-30px 0px;}
		#social a.twitter:hover {background-position:-30px -30px;}

/*#action-bar {line-height:24px;position:absolute;top:0px;right:0px;color:#fff;}
	#action-bar a:link, #action-bar a:visited {color:#fff;margin:0px 5px;}*/

article {display:block;text-align:left;width:960px;margin:0px auto;clear:both;min-height:400px;}
	article footer {-webkit-box-shadow:none;-moz-box-shadow: none;box-shadow:none;}

footer {height:116px;margin-top:0;width:100%;display:block;clear:both;padding-top:14px;background:#fff;-webkit-animation: delay 0.5s;-moz-animation: delay 0.5s;-webkit-box-shadow: 0px -10px 30px 0px rgba(180, 160, 145, 0.2);-moz-box-shadow: 0px -10px 30px 0px rgba(180, 160, 145, 0.2);box-shadow: 0px -10px 30px 0px rgba(180, 160, 145, 0.2);}
	footer .logo {display:block;height:24px;border-bottom:1px solid #ececec;margin:0px 0px 10px;overflow:hidden;text-indent:-999em;background:#fff url(../images/sprite.png) no-repeat 830px -60px}
	footer a, footer strong {margin-left:10px;}


/*** Product grid ***/
#breadcrumb {border-bottom:1px solid #ececec;padding:10px 0px;}
#grid header, #grid footer {height:24px;margin:0px;padding:10px;background:#fff;background:#ececec;margin-bottom:10px;}
	#grid footer a {margin:0px;}
#grid h1 {display:inline;}
.paging {float:right;line-height:24px;}
#items li {float:left;width:172px;padding:10px;height:333px;position:relative;}
	#items li span {position:absolute;top:20px;right:0px;padding:5px;line-height:normal;text-align:right;color:#fff;background:#ff5454;font-family: 'Terminal Dosis', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;text-transform:uppercase;-webkit-animation: delay 1.5s;-moz-animation: delay 1.5s;}
	#items a {display:block;text-decoration:none;}
	#items a.title {height:40px; font-size: 100%;}
		#items a img {width:170px;height:160px;border:1px solid #fff;-webkit-box-shadow:0px 0px 5px 0px rgba(180, 160, 145, 0.2);-moz-box-shadow:0px 0px 5px 0px rgba(180, 160, 145, 0.2);box-shadow:0px 0px 5px 0px rgba(180, 160, 145, 0.2);}
		#items a:hover img {-webkit-box-shadow:0px 0px 5px 0px rgba(180, 160, 145, 0.8);-moz-box-shadow:0px 0px 5px 0px rgba(180, 160, 145, 0.8);box-shadow:0px 0px 5px 0px rgba(180, 160, 145, 0.8);}
	#items strong {border-bottom: 1px solid #ececec;display:block;padding-bottom:5px;}
		#items strong em {float:right;font-weight:normal;font-size:0.833em;}



/*
 * jQuery UI Tabs 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */


/*** View bag ***/
#basket h1 {/*font-family: 'Terminal Dosis', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:2em;font-weight:300;*/padding:20px 0px;}
#basket .continue {float:right;clear:right;margin:10px 0px;width:200px;}
table {width:100%;border-bottom:1px solid #ececec;}
th {background:#f5f5f5;padding:10px;font-size:1.167em;border-top:1px solid #ececec;}
td {border-top:1px solid #ececec;padding:10px 0px;height:170px;}
	td button {font-weight:normal;text-transform:uppercase;font-size:0.857em;}
.description {width:599px;padding-right:10px;}
th.description {width:589px;}
	.description img {margin-right:10px;width:100px;}
	.description p {width:489px;height:130px;}
	.description p a {font-size:1.167em;width:489px;}
.options {width:230px;padding:10px;}
dl {width:230px;height:128px;}
dt {display:inline-block;width:100px;}
dd {display:inline-block;width:100px;}
.price {width:79px;font-size:1.167em;padding:10px;}
td.description, td.options {border-right:1px dotted #ececec;}
div.right {font-size:1.167em;padding-top:10px;width:350px;}
	div.right strong, div.right select {display:inline-block;width:260px;}
	div.right em {display:inline-block;font-style:normal;width:80px;text-align:right;}
	div.right p {border-top:1px solid #ececec;border-bottom:1px solid #ececec;padding:10px 0px;margin:10px 0px;}
	.safe {float:left;margin:10px 0px;}
	

