{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Add Custom Image</title>
<link rel="shortcut icon" href='{% static "main/assets/img/fitting_room_icon.ico" %}'>
<link rel="icon" type="image/ico" href='{% static "main/assets/img/fitting_room_icon.ico" %}'>

<link rel="stylesheet" href='{% static "main/assets/css/screen.css" %}' />
<link rel="stylesheet" href='{% static "main/assets/css/formnormalize.css" %}' />
<link rel="stylesheet" href='{% static "main/assets/css/formstyle.css" %}' />


<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Wellfleet'>

<!-- The below script Makes IE understand the new html5 tags are there and applies our CSS to it -->
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--script src="http://code.jquery.com/jquery-latest.min.js"></script-->
<script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script>
<script src='{% static "main/assets/js/general.js" %}'></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="https://apis.google.com/js/platform.js" gapi_processed="true"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src='{% static "main/assets/js/addcustomimage.js" %}'></script>
<!-- The below script Makes IE understand the new html5 tags are there and applies our CSS to it -->
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript">
$(document).ready(function(){
	$(".header-wrap").load("/top_menu");
	
	$("#back").click(function() {
		$("#placeholder-div2").empty();
		$("#placeholder-div2").hide();
		$("#fileupload").removeAttr("disabled");
		$("#fileupload").text("Upload to Preview");
		$("#fileupload").show();
		$("#back").hide();
		return false; // prevent form submission
	});
	/*var files = [];
	$("input[type=file]").change(function(event){
		$.each(event.target.files,function(index,file){
		var reader = new FileReader();
		reader.onload = function(event){
			object = {};
			object.filename = file.name;
			object.data = event.target.result;
			console.log(object);
			files.push(object);
		};
		reader.readAsDataURL(file);
		});
	});
	$("#fileupload").click(function() {
		console.log("fileupload");
		//$.each(files, function(index, file) {
			$.ajax({
				url: '/previewcustomitem',
				type: 'POST',
				data: files[0].data,
				contentType:"application/json",
				dataType: "json",
				success: function(data) {
					console.log("success");
				},
				error: function(data){
					alert("failure");
				}
			});      
		//});
		files = [];
		//form.preventDefault();
		return false;
	});*/	
	
	$("#fileupload").click(function(){	
		var object = {url: '/previewcustomitem', type:'POST', 
				beforeSubmit: 
					function(arr, $form, options) {
						$("#fileupload").text('Processing...');
						$("#fileupload").attr('disabled', 'disabled');
						return true;
					},
					success:
					function(data) {
						if (data.errCode == 1) {
							$('#fileupload').hide();
							// load the hangout button here

							gapi.hangout.render('placeholder-div2', {
								'render' : 'createhangout',
								'initial_apps' : [ {
									'app_id' : '60097234437',
									'start_data' : data.token + '&' + $("#choose_category").find(":selected").attr("value"),
									'app_type' : 'LOCAL_APP'
								} ],
								'widget_size' : 136
							});
							$("#placeholder-div2").show();

						$(document).ready(function() {
							//$(".contain-page").append("<p>Test</p>");
							$(".header-wrap").load("top_menu");
						});

						// provide and "back" button
						$("#back").show();
						
					} else if (data.errCode == -8) { // not authenticated
						$("#dialogErrUser").dialog();
						$("#fileupload").text('Upload to Preview');
						$("#fileupload").removeAttr('disabled');
					} else { // bad response
						$("#dialogErr").dialog();
						$("#fileupload").text('Upload to Preview');
						$("#fileupload").removeAttr('disabled');
					}
				},
				error : function() {
					$("#dialogErr").dialog();
					$("#fileupload").text('Upload to Preview');
					$("#fileupload").removeAttr('disabled');
				}

			};
			$("#product_form").ajaxForm(object);
			//$("form").ajaxSubmit();
		});
		//});

		$("#additem").click(function() {
			console.log("Run");
			$("#product_form").ajaxForm({
				url : '/addcustomitem',
				type : 'POST',
				beforeSubmit: function() {
			
					event.preventDefault();
					var inputs = $("#product_form :input");
					var map = new Object();
					var mapsize = 7;
					map["Item Name"] = "";
					map["Price"] = "";
					map["URL"] = "";
					map["Brand"] = "";
					map["Description"] = "";
					map["Image for Fitting Room"] = "";
					map["Category"] = "";
					inputs.each(function(index){
						switch(index){
							case 0:
								map["Item Name"] = $(this)[0].value;
								break;
							case 1:
								map["Price"] = $(this)[0].value;
								break;
							case 2:
								map["URL"] = $(this)[0].value;
								break;
							case 3:
								map["Brand"] = $(this)[0].value;
								break;
							case 4:
								map["Description"] = $(this).val();
								break;
							case 5:
								map["Image for Fitting Room"] = $(this)[0].value;
								break;
							case 8:
								map["Category"] = $(this).find(":selected").text();
								break;
							default:
								break;
						}
						//console.log($(this));
					});
					var resultCheckEmptyInput = checkEmptyInput(map);
					if(resultCheckEmptyInput!=""){
						//alert("please fill in missing field(s) in "+ resultCheckEmptyInput);
						$("#alertemptyinput").html("<p>Please fill in missing field(s) in "+ resultCheckEmptyInput+"</p>");
						$("#alertemptyinput").dialog();
						return false;
					}
					if (!checkValidImageType(map["Image for Fitting Room"])){
						//alert("please upload either images with only either jpg or jpeg format");
						$("#alertinvalidimagetype").html("<p>please upload either images with only either jpg or jpeg format</p>");
						$("#alertinvalidimagetype").dialog();
						return false;
					}
					
					if (!checkValidPrice(map["Price"])){
						//alert("please enter a valid number in form of 10 or 10.00");
						$("#alertinvalidnumber").html("<p>please enter a valid number in form of 10 or 10.00</p>");
						$("#alertinvalidnumber").dialog();
						return false;
					}
					return true;
					}
		});
		});
	});
</script>
</head>
<body>
<div class="header-wrap" >
</div>
<div class="container">
	<section class="register">
		  <h1>Add Your Own Item!</h1>
		  <form id="product_form">
			<div class="reg_section personal_info" >
				  <h3>Item Information</h3>
				  <div style="padding-left:30%">
				  <p ><input type="text" name="itemname" value="" placeholder="Item Name"></p>
				  <p><input type="text" name="price" value="" placeholder="Price"></p>
				  <p><input type="text" name="url" value="" placeholder="URL"></p>
				  <p><input type="text" name="brand" value="" placeholder="Brand"></p>
				  <p><textarea name="description" id="" placeholder="Item Description"></textarea></p>
				  </div>
			</div>
			<div class = "reg_section upload">
				
				<div style="padding-left:20%">
				<span style="color:red; font-size:15px"><br> Please upload item image with plain color background </br></span>
				<span style="width:200px; display:inline-block;">Image for Fitting Room:	</span><input type ="file" size ="60" name = "overlay">
				<button class= "buttonsubmit" id="fileupload" >Upload to Preview</button>
				<div id="placeholder-div2" style="display:none"></div>
				<br>
				<button class= "buttonsubmit" id="back" style="display:none">Back</button>
				<br></br>
				
				<!--span style="width:200px; display:inline-block;">Image for Display:	</span><input type ="file" size ="60" name = "display"-->
				</div>
			</div>
			<div class="reg_section password">
				<h3>Category</h3>
				<div style="padding-left:30%">
				<select name="category" id = "choose_category">
					<option value="glasses">Glasses</option>
					<option value="hats">Hats</option>
					<option value="headphones">Headphones</option>
				</select>
				</div>
			</div>
			  <p class="submit"><button class= "buttonsubmit" id="additem">Add</button></p>
		  </form>
	</section>
</div>
<div id="alertinvalidnumber"></div>
<div id="alertinvalidimagetype"></div>
<div id="alertemptyinput"></div>
<div id="dialogErrUser" title="Authentication failed" hidden="true">
   <p>Please log in to add custom products.</p>
 </div>
 <div id="dialogErr" title="Image process failed" hidden="true">
 	<p>Unable to process uploaded image</p>
 </div>

</body>
</html>
