<!--p id="test"> 	category list </p-->
{% load staticfiles %}
<link rel="stylesheet" href='{% static "main/assets/css/style.css" %}' />
<!--link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'-->

<article id="grid">
	
    <ul id="items">
	<!--items are here from item.html-->
    </ul>
    <footer>
        <div class="paging">
            Page: &nbsp; | &nbsp;1&nbsp; | &nbsp;<a onclick="javascript:return getPage(2);" href="">2</a> | <a onclick="javascript:return getPage(3);" href="">3</a>  |  <a onclick="javascript:return getPage('', '', '1');" href="">View All</a>
        </div>
    </footer>
</article>