<!--p id="test"> 	category list </p-->
{% load staticfiles %}
<link rel="stylesheet" href='{% static "main/assets/css/style.css" %}' />
<link rel="stylesheet" href='{% static "main/assets/css/screen.css" %}' />
<!--link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'-->
<script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script>
<div class="header-wrap" >
</div>
<article id="grid">
	
    <ul id="items">
	<!--items are here from item.html-->
    </ul>
    <footer>
        <div class="paging">
            Page: &nbsp; | &nbsp;1&nbsp; | &nbsp;<a onclick="javascript:return getPage(2);" href="">2</a> | <a onclick="javascript:return getPage(3);" href="">3</a>  |  <a onclick="javascript:return getPage('', '', '1');" href="">View All</a>
        </div>
    </footer>
</article>

<script type="text/javascript">
	
$(document).ready(function() {
	$("#items").load("item", function(data){
		for ( var i = 0; i < 24; i++ ) {
			$(this).append(data);
		}
		$("a#item-img").html('<img src="{% static 'main/assets/img/glasses_demo.jpg' %}" alt="Elegant evening Dress"/>');
		$("a.title").html('Awesome glasses');
	});
	$(".header-wrap").load("top_menu");
	$.ajax({
		url: "glasses",
		contentType: "application/json",
		dataType: "json",
		success:
		function(data){
			alert("success");
		}
		error:
		function(data){
			alert("failure");
		}
	});
});
</script>
