<div class="content_div" id="customlist_content_div" >

	<h1>Own Items</h1>
	<div id="empty_customlist" style="color:red;font-size:20px;text-align:center;"></div>
	<table id="customlisttable" width="100" >
		
	</table>

	<div id="success_dialog" hidden="true"></div>
	<div id="failure_dialog" hidden="true"></div>

</div>

<!--div class="content_div" id="fitlist_content_div" >
	<h1>Items in Fitting Room</h1>
	<div id="empty_fitlist" style="color:red;font-size:20px;text-align:center;padding-bottom:200px; display: none"></div>
	<table id="fitlisttable" width="100" border="0">
		
	</table>
	<div id="success_dialog" hidden="true"></div>
	<div id="failure_dialog" hidden="true"></div>
<div-->