{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Fitting Room Page</title>
<link rel="shortcut icon" href='{% static "main/assets/img/fitting_room_icon.ico" %}'>
<link rel="icon" type="image/ico" href='{% static "main/assets/img/fitting_room_icon.ico" %}'>
<link rel="stylesheet" href='{% static "main/assets/css/style.css" %}' />
<!-- The below script Makes IE understand the new html5 tags are there and applies our CSS to it -->
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href='{% static "main/assets/css/screen.css" %}' />
<script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script>
</head>
<div class="header-wrap" >
</div>
<body>


<script src="https://apis.google.com/js/platform.js"></script>
<article id="basket" style="height:100%;">
    <table  border="1">
    
        <h1>Fitting Room</h1>
        <div style="vertical-align:middle;text-align:center">
            <div id="placeholder-div2"></div>
        </div>​
		<br>
        <h3 style="float:left;width:100%;color:red">Note: Current version only supports Chrome and Safari</h3>
        <br>
        <h3 style="float:left;width:100%">Step 1: Add items to your fitting room</h3>
        <br>
        <h3 style="float:left;width:100%">Step 2: Click the "Start a Hangout" button</h3>
        <br>
        <h3 style="float:left;width:100%">Step 3: Click the "Join" button</h3>
        <br>
        <h3 style="float:left;width:100%">Step 4: Invite other people you know on Google+ or <br> click the "Cancel" button to not invite anyone</h3>
        <br>
        <h3 style="float:left;width:100%">Step 5: View yourself wearing your fitting room items!</h3>
		<br>

    </table>
</article>

</body>
<script type='text/javascript'>
    gapi.hangout.render('placeholder-div2', {
    	'render': 'createhangout',
    	'initial_apps': [{'app_id' : '60097234437', 'start_data' : '', 'app_type' : 'LOCAL_APP' }],
    	'widget_size': 136
    });

	$(document).ready(function(){
	//$(".contain-page").append("<p>Test</p>");
		$(".header-wrap").load("/top_menu");
	}); 
</script>
</html>
