{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>

	<title>Virtual Fitting Room</title>
<meta name='description' content='' />
<link rel='canonical' href='localhost:8000' />

	<!-- Stylesheets -->
	<!-- http://pacelaw.com/ -->
	<link rel="stylesheet" href='{% static "main/assets/css/screen.css" %}' />
	<script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script>
	

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>

<div class="header-wrap">

</div>

<div class="contain-page"><div>


</body>
<!--  disabled external js, django template language can't be used in a static js file (ways to get around it??) 
<script src='{% static "main/assets/js/mainpage_action.js"%}'></script>
-->

<script type='text/javascript'>
$(document).ready(function(){
	//$(".contain-page").append("<p>Test</p>");
	$(".contain-page").load("mainpage");
	$(".header-wrap").load("top_menu");
	$("#home").click(function(){
		$(".contain-page").load("mainpage");
	});
}); 
</script>
</html>
