{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
<link rel="shortcut icon" href='{% static "main/assets/img/fitting_room_icon.ico" %}'>
<link rel="icon" type="image/ico" href='{% static "main/assets/img/fitting_room_icon.ico" %}'>
<title>Virtual Fitting Room</title>
<meta name='description' content='' />
<link rel='canonical' href='localhost:8000' />

	<!-- Stylesheets -->
	<link rel="stylesheet" href='{% static "main/assets/css/screen.css" %}' />
	<script src="https://apis.google.com/js/platform.js"></script>
	<script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script>
	<script src='{% static "main/assets/js/general.js" %}'></script>
	

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>

<div class="header-wrap">

</div>

<div class="contain-page"><div>


</body>
<script type='text/javascript'>
$(document).ready(function(){
	rendermainpage();
	rendertopmenu();
	homeclick();
}); 
</script>
</html>
