{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>

	<title>Virtual Fitting Room</title>
<meta name='description' content='' />
<link rel='canonical' href='localhost:8000' />

	<!-- Stylesheets -->
	<!-- http://pacelaw.com/ -->
	<link rel="stylesheet" href='{% static "main/assets/css/screen.css" %}' />
	<script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script>
	

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>

<div class="header-wrap">
	<header>
		<div class="logo">
			<a href="/">
				<div class="header-logo">Fitting Room</div>
			</a>
		</div>
		<div class="nav">
			<nav>
				<ul class="global-nav">
					<li id="head"><a id ="home">Home</a></li>
					<li id="head"><a>Fitting Room</a></li>
					<li id="head"><a>Wishlist</a></li>
					<li id="head"><a>Register</a></li>
					<li id="head"><a>Login</a></li>
				</ul>
			</nav>
		</div>
		<!--div class="mobile-nav">
			<a href="#" class="mobile-nav-btn"><i class="icon-reorder"></i></a>
		</div-->
	</header>
</div>

<div class="contain-page"><div>


</body>
<script src='{% static "main/assets/js/action.js" %}'></script>
</html>
