{% load staticfile %}
<div class="dimmer"></div>

<div id="top" class="home-top-wrap cycle-slideshow" data-cycle-slides="div.top-slide" data-cycle-timeout="5000">
	
		
				<div class="top-slide" style='background-image: url({% static "main/assets/img/mainbathroom.jpg" %});'>
					<div class="overlay"></div>
					<div class="top-info">
						<div class="top-logo">
							Virtual Fitting Room
						</div>
						<p class="top-subtitle">
							Virtually Try Before You Buy!
						</p>
					</div>
				</div>
				<div class="seal"></div>
	
</div>

<div class="strip first">
	<section id="manifesto" class="manifesto">
	</section>

	<div class="divider first-divider">
		<div>
			<hr />
		</div>
	</div>

	
		<section id="about" class="about">
			<section class="home-about">
				<h2>How To Use</h2>
				<p>Find headwear that you like, add it to your fitting room, and then try it on! </p>
			</section>

			<section class="home-philosophy">
				<h2></h2>
				<p></p>
			</section>
		</section>
	

	<div class="divider">
		<div>
			<hr />
		</div>
	</div>

	<section id="focus" class="focus">
		<div class="focus-areas">
			<div class="focus-areas-inner">
				
											<ul>
					
						<li class="service-count1">
							<a class="service-link" rel="1">
								<div class="inner">
									<span class="count">01/</span><br />
									<img id = "img" src="assets/img/glasses.jpg" />
									<h3>Glasses</h3>
								</div>
							</a>
						</li>
									
					
						<li class="service-count2">
							<a class="service-link" rel="2">
								<div class="inner">
									<span class="count">02/</span><br />
									<img src="assets/img/hat.jpg" />
									<h3>Hats</h3>
								</div>
							</a>
						</li>
									
					
						<li class="service-count3">
							<a class="service-link" rel="3">
								<div class="inner">
									<span class="count">03/</span><br />
									<img src="assets/img/headphones.jpg" />
									<h3>Headphones</h3>
								</div>
							</a>
						</li>
						
											</ul>
									
			</div>
		</div>
	</section>
</div>


<div id="process" class="strip dark process">
	<div class="row">
			<div class="small-12 large-3 medium-3 columns">
				<h2 class="process-heading">Footer</h2>
			</div>
				
			
	</div>
</div>
<footer class="strip dark footer-strip">
	<div class="row">
	</div>
</footer>
<script src='{% static "main/assets/js/mainpage_action.js"%}'></script>