{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Virtual Awesome Fantastic Fitting Room!!!!!!!!!!</title>
<link rel="stylesheet" href='{% static "main/assets/css/style.css" %}' >
<!--link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'-->
<!-- The below script Makes IE understand the new html5 tags are there and applies our CSS to it -->
<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href='{% static "main/assets/css/screen.css" %}' />
<!--script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script-->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src='{% static "main/assets/js/general.js" %}'></script>
<script src='{% static "main/assets/js/wishlist.js" %}'></script>
<script src='{% static "main/assets/js/fitlist.js" %}'></script>
<script src='{% static "main/assets/js/customlist.js" %}'></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".header-wrap").load("/top_menu");
	$(function() {
		$( "#tabs" ).tabs();
		$( "a#addcustomimage" ).button();
	});
	$.ajax({
		url:"/getuserinfo",
		contentType:"application/json",
		dataType:"json",
		success:
			function(data){
				if(checkDataType(data)){
					var username = data.first;
					var email = data.email;
					var joindate = data.date_joined;
					var numitemupload = data.num_of_custom_products;
					joindate = trimdate(joindate);
					$("#username").html(username);
					$("#email").html(email);
					$("#joindate").html(joindate);
					$("#numitemupload").html(numitemupload);
				}
			},
		error:
			function(data){
				console.log("failure");
			},
	});
	
	$.ajax({
		url:"/getprofilepic",
		contentType:"application/json",
		dataType:"json",
		success:
			function(data){
				var imageurl = '{% static "main/assets/img/anonymous-user.png" %}';
				if(data.image_url!==""){
					imageurl = data.image_url;
				}
				console.log(imageurl);
				$("#user_profile_image").html('<img src='+ imageurl+' width="250" height="250" ></a>');
			},
		error:
			function(data){
				console.log("failure");
			},
	});
	
	function trimdate(date){
		var splitdate = date.split(" ");
		date = splitdate[0];
		return date;
	}
	
	function checkDataType(data){
		return true;
	}
	$("#wishlist_content").load("/wishlistcontent");
	$("#fitlist_content").load("/fitlistcontent");
	$("#customlist_content").load("/customlistcontent");
	getItemFromWishListAndStartRender();
	getItemFromFitListAndStartRender();
	setTimeout(getItemFromCustomListAndStartRender, 1000);//can't run before the the customlistcontent is loaded
	$("#uploadprofileimg").click(function(){
		
		var object = {
				url: '/addprofilepic', 
				type:'POST', 
				beforeSubmit: 
					function(data) {
						console.log(data);
						return true;
					},
				success:
					function(data) {
						console.log(data);
					},
				error : function() {
						console.log("failure");
					}

			};
		console.log($("#profile_pic_form"));
		$("#profile_pic_form").ajaxForm(object);
		//$("#profile_pic_form").ajaxSubmit();
		//return false;
	});
    
});
</script>
<style type="text/css">
	div#tabs{
		position:relative; 
		width:90%;
		margin:0 auto;
	}
	div.userinfo{
		padding-top:1cm;
		border:2px solid;
		border-radius:25px;
		position:relative; 
		width:90%;
		margin:0 auto;
		height:450px;
	}
	p.userinfo_label{
		font-size:25px;
		font-weight: bold;
		padding: 0px 0px 0px 50px;
	}
	p.userinfo_answer{
		font-size:25px;
		font-weight: bold;
		padding: 0px 0px 0px 250px;
	}
	a#addcustomimage{
		font-size:20px;
	}
	.content_div{
		position:relative; 
		width:70%; 
		margin:0 auto; 
		background:white;
	}
	.ui-tabs .ui-tabs-nav li a { 
		width:300px; 
		color:#A59275;
	}
		
	button#uploadprofileimg{
		width:250px;
	}
	
</style>
</head>
<body>
	<div class="header-wrap" >
	</div>
	
	<div style="padding-top:1cm"></div>
	
	<div class="userinfo">
		<div style="float:left;">
			<p class="userinfo_label">User name:</p>
			<p class="userinfo_label">Email:</p>
			<p class="userinfo_label">Date Joined:</p>
			<p class="userinfo_label">Number of Own Item:</p>
		</div>
		<div style="float:left;">
			<p class="userinfo_answer" id="username"></p>
			<p class="userinfo_answer" id="email"></p>
			<p class="userinfo_answer" id="joindate"></p>
			<p class="userinfo_answer" id="numitemupload"></p>
			<p class="userinfo_answer"><a id="addcustomimage" href="/addcustomimage">ADD YOUR OWN ITEM!!</a></p>
		</div>
		<div style="float:right;padding-right:2cm;">
			<p id="user_profile_image"></p>
			<p>
			<form id="profile_pic_form">
				<p><input type ="file" size="250" name="profile"></p>
				<p><button id="uploadprofileimg">Upload Your Image!</button></p>
			</form>
			</p>
		</div>
	</div>
	
	<div style="padding-top:1cm"></div>

	<div id="tabs">
		<ul style="background: none repeat scroll 0% 0% rgb(34, 34, 34);">
			<li class="wordwrap" ><a href="#wishlist_content">Wish List</a></li>
			<li class="wordwrap" ><a href="#fitlist_content">Items in Fitting Room</a></li>
			<li class="wordwrap" ><a href="#customlist_content">Own Items</a></li>
		</ul>
		<div id="wishlist_content">
			<p>hello 1</p>
		</div>
		<div id="fitlist_content">
			<p>hello 2</p>
		</div>
		<div id="customlist_content">
			<p>hello 3</p>
		</div>
	</div>
</body>
</html>