{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script>
<script src='{% static "main/assets/js/qunit-1.14.0.js" %}'></script>
<script src='{% static "main/assets/js/frontend_unittest.js" %}'></script>
<script src='{% static "main/assets/js/wishlist.js" %}'></script>
<script src='{% static "main/assets/js/fitlist.js" %}'></script>
<script src='{% static "main/assets/js/detailpage.js" %}'></script>
<script src='{% static "main/assets/js/general.js" %}'></script>
<script src='{% static "main/assets/js/addcustomimage.js" %}'></script>
<script src='{% static "main/assets/js/profile.js" %}'></script>
<link rel="stylesheet" href='{% static "main/assets/css/qunit-1.14.0.css" %}' />
<meta charset="utf-8">
<title>Virtual Fitting Room Unit Test</title>
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
</body>
</html>
