<!--p id="test_search"> 	search results </p-->
{% load staticfiles %}
<link rel="shortcut icon" href='{% static "main/assets/img/fitting_room_icon.ico" %}'>
<link rel="icon" type="image/ico" href='{% static "main/assets/img/fitting_room_icon.ico" %}'>
<link rel="stylesheet" href='{% static "main/assets/css/style.css" %}' />
<link rel="stylesheet" href='{% static "main/assets/css/screen.css" %}' />
<!--link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'-->
<script src='{% static "main/assets/js/jquery-1.11.0.min.js" %}'></script>
<script src='{% static "main/assets/js/general.js" %}'></script>
<div class="header-wrap" >
</div>



<article id="grid">

    <ul id="items">
	<!--items are here from item.html-->
    </ul>
    <footer>
        <div id="viewSettings" style="padding-left:40%;float:left;">
            <b>View:</b>
            <select id="viewOptions" size = 1 onChange = 'change()' name="changeViewProductNum" style='width: 100px'>
            <option selected value="20">20 per page</option>
            <option value="50"> 50 per page</option>
            <option value="0">ALL</option>
            </select>

        </div>
        <div id="empty_searchlist" style="color:red;font-size:20px;"></div>
        <div id = pageNation class="paging">
            Page: &nbsp; | &nbsp;1&nbsp; | &nbsp;<!--a onclick="javascript:return getPage(2);" href="">2</a> | <a onclick="javascript:return getPage(3);" href="">3</a>  |  <a onclick="javascript:return getPage('', '', '1');" href="">View All</a-->
        </div>
    </footer>
</article>


<script type='text/javascript'>
var pageValue = 0;
$(document).ready(function() {

    var sel = document.getElementById('viewOptions');
    var sth = sel.options[sel.selectedIndex].value;
	$.ajax({
		url: "search?searchName={{ searchName }}&sth="+sth + "&page=1",
		content_type: "application/json",
		dataType: "json",
        type: 'GET',
		success:
		function(data){
			var images = data.image;
			var item_names=data.item_name;
			var prices = data.price;
			var ids = data.id;
            var page = data.page;
            if (data.image.length == 0){
                console.log(data.image.length)
                $("#empty_searchlist").html("Sorry, no item found, please try to find the name of the products.");
            }
            if (sth == 0){

                $("#pageNation").html("");
                $("#pageNation").append("Page: >1 ");
            }else{
                $("#pageNation").html("");
                $("#pageNation").append("Page: ");
                for(var i = 1; i <= page; i++){
                    $("#pageNation").append(" | <button class= 'pageNumber' value='"+i+"'>" + i + "</button>");
                }
            }
            rendergrids(images.length, images, item_names, prices, ids);

            $(".pageNumber").click(function(){
                    pageValue = $(this).text();
                    console.log(pageValue);
                    $.ajax( {
                        url: "search?searchName={{ searchName }}&sth="+sth + "&page=" + pageValue,
                        content_type: "application/json",
                        dataType: "json",
                        type:"GET",
                        success:
                        function(data){
                            console.log(data);
                        var images = data.image;
                        var item_names=data.item_name;
                        var prices = data.price;
                        var ids = data.id;
                        $("#items").html("");
                        rendergrids(images.length, images, item_names, prices, ids);
                        },
                        error:
                        function(data){
                        alert("failure");
                        }
	                    } );

            });
            },
		error:
		function(data){
			alert("failure");
		}
	});
	rendertopmenu();




    });



    function change(){
        var sel = document.getElementById('viewOptions');
        var sth = sel.options[sel.selectedIndex].value;
        console.log(pageValue);
        $.ajax( {
            url: "search?searchName={{ searchName }}&sth="+sth + "&page=1",
            content_type: "application/json",
            dataType: "json",
            type:"GET",
            success:
            function(data){
                console.log(data);
			var images = data.image;
			var item_names=data.item_name;
			var prices = data.price;
			var ids = data.id;
            var page = data.page;
            $("#items").html("");
            if (sth == 0){

                $("#pageNation").html("");
                $("#pageNation").append("Page: >1 ");
            }else{
                $("#pageNation").html("");
                $("#pageNation").append("Page: ");


                for(var i = 1; i <= page; i++){
                    $("#pageNation").append(" | <button class= 'pageNumber2' value='"+i+"'>" + i + "</button>");
                }

            }
            rendergrids(images.length, images, item_names, prices, ids);
            $(".pageNumber2").click(function(){
                    pageValue = $(this).text();
                    console.log(pageValue);

                    $.ajax( {
                        url: "search?searchName={{ searchName }}&sth="+sth + "&page=" + pageValue,
                        content_type: "application/json",
                        dataType: "json",
                        type:"GET",
                        success:
                        function(data){
                            console.log(data);
                        var images = data.image;
                        var item_names=data.item_name;
                        var prices = data.price;
                        var ids = data.id;
                        $("#items").html("");
                        rendergrids(images.length, images, item_names, prices, ids);
                        },
                        error:
                        function(data){
                        alert("failure");
                        }
	                    } );

                    });

            },
            error:
            function(data){
                alert("failure");
            }
	        } );
    }


</script>

