<header>
	<div class=nav style="margin:none">
		<nav>
			<ul class=global-nav>
			<span style="float:right" style="height:30;width:288">
				<li class="head"><form name="input" action="/searchResult" method="get">
				<input type="text" id="search_name" name="searchName" style="vertical-align: bottom" >
				<input type="submit" id="search_button" value="Search"></form></li>
			</span>
            <li class="user"><a id="user"  type="color:white; margin-left: 2000px;">it should be here</a></li>
			<span style="float:right">

				<li class="head"><a id="home" href="/">Home</a></li>
				<li class="head"><a id="fitting_room" href="/fittingroom">Fitting Room</a></li>
				<li class="head"><a id="wishlist" href="/wishlist">Wishlist</a></li>
				<li class="head"><a id="profile" href="/profile">Profile</a></li>
				<li class="head">
					{% if user.is_authenticated == False %}
					<a id = "login" href="/login/google-oauth2/?next={{path}}">Login</a>
					{% else %}
					<a id = "logout" href="/logout/?next={{path}}">Logout</a>
					{% endif %}
				</li>
			</span>
		</ul>
	</nav>
</div>
</header>




<script type="text/javascript">
$(document).ready(function(){
	$.ajax({
		url:"/getuserinfo",
		contentType:"application/json",
		dataType:"json",
		success:
			function(data){
				var username = data.first;
                console.log(username)
                if (data.first != undefined){
				    $("#user").html("Hi, welcome back " + username);
					$("#profile").show();
					$("#wishlist").show();
                }else{
                    $("#user").html("Hi, welcome");
					$("#profile").hide();
					$("#wishlist").hide();
                }
			},
		error:
			function(data){
				console.log("failure");
                $("#user").html("Hi guest");
			},
	});



});
</script>
