<header>
	<div class=nav style="margin:none">
		<nav>
			<ul class=global-nav>
				<li id="head"><a id=home href="/">Home</a></li>
				<li id="head"><a id=fitting_room href="/fittingroom">Fitting Room</a></li>
				<li id="head"><a id=wishlist href="/wishlist">Wishlist</a></li>
				<li id="head">
					{% if user.is_authenticated == False %}
					<a id = login href="/login/google-oauth2/">Login</a>
					{% else %}
					<a id = logout href="/logout/">Logout</a>
					{% endif %}
				</li>
			</ul>
		</nav>
	</div>
</header>
