<!--aside id="top">
	<div class="wrapper">
        <ul id="social">
            <li><a href="#" class="facebook" title="like us us on Facebook">Like us us on Facebook</a></li>
            <li><a href="#" class="twitter" title="follow us on twitter">Follow us on twitter</a></li>
        </ul>
    </div>
</aside-->
<article id="basket">

<h1>Wish List</h1>
<div id="empty_wishlist" style="color:red;font-size:20px;text-align:center;"></div>
<table width="100" border="1">
    
</table>
<!--form method="link" action="/fittingroom">
<button type ="submit" class="continue" >Try In Fitting Room!</button>
</form-->
</article>
<div id="success_dialog" hidden="true"></div>
<div id="failure_dialog" hidden="true"></div>